{% extends "base-file.html" %} {% block content %}
<table class="mtable" style="width: 100%;">
    <thead>
        <tr>
            <th colspan="1" style="width: 10%; text-align: center;">
                <img src="data:image/png;base64,{{ qr_data }}" alt="QR Code"   style="width: 120px; height: auto">
               <small>{{date}}</small>
           </th>
            <th colspan="2" style="width: 60%;"h>
                {% include 'main_image.html' %}
                <h3 class="text-center margin-0">MINISTERE DE LA SANTE PUBLIQUE, HYGIENE ET PREVENTION</h3>
                <h3 class="text-center margin-0">SECRETARIAT - GENERAL</h3>
                <h4 class="text-center margin-0">Direction des Ressources Humaines</h4>
                <h3 class="text-center margin-0" style="font-size: 16;">FICHE INDIVIDUELLE D’IDENTIFICATION DE L’AGENT </h3>
                
            </th>
            <th colspan="1" style="width: 20%; text-align: center;">
               
                {% if person.image != None %}
                <img src="https://drc.ihris.org/index.php/BinField?formid={{person.image}}&field=image" alt="Photo"   style="width: 120px; height: auto">
                {% endif %}
                <br>
                <div class="text-center"><small>{{person.id}}</small></div>
            </th>
        </tr>
    </thead>
</table>
<div class="text-left">
  
   </div>
<table class="mtable" style="width: 100%;">
    <thead>
        {% if person.validation_date != None %}
               
        <tr>
            <th colspan="6" style="color: blue;">
                <small> VALIDATION: 00{{person.validation_id}}, {{ person.validation_date.strftime( "%d-%m-%Y %H:%M:%S")}} </small>;
                <small> Par: DRH - {{person.validation_code}} </small> 
            </th>
        </tr>
        {% endif %}
        <tr>
            <th></th>
            <th colspan="1" style="width: 10%; text-align: center;">
                
            </th>
            <th colspan="2" style="width: 70%;">
                
            </th>
            <th colspan="1" style="width: 20%; text-align: right;">
               
            </th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        {% for  element in data %}
            {% set l =  loop.index %}
            <tr>
                <td style="width: 10px;" class="mtitle text-right">{{loop.index }}</td>
                <td colspan="4" class="mtitle"> {{element.title.upper()}}</td>
                <td style="width: 10px;" class="text-right mtitle"><small style="font-size: 12px;">{{element.comp}}</small></td>
            </tr>
            {% set y = 0 %}
            {% for i in element["values"] %}
                <tr>
                    <td class="text-right">{{l}}.{{loop.index}}</td>
                    <td colspan="2">  {{i.key.upper()}}</td>
                    <td colspan="2" class="mvalue">{{(i.value |string).upper() | replace('NONE', '')}}</td>
                    <td class="text-right"><small>{{ i.comp }}</small></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
<br>
<h4>FORMATIONS EN COURS DE L'EMPLOI</h4>
<small>{{date}}</small>
<table class="mtable2" style="width: 100%;">
    <thead>
        <tr class="mtitle ptitle">
            <th rowspan="2" style="width: 4%;">No</th>
            <th rowspan="2" class="text-center" style="width: 20%;"> DATES</th>
            <th rowspan="2" class="text-center" style="width: 50%;">FORMATIONS</th>
            <th colspan="2" class="text-center ">TESTS</th>
            <th colspan="3" class="text-center ">EVALUATIONS</th>
        </tr>
        <tr class="ptitle">
            <th class="text-center" style="width: 4%;">PRE</th>
            <th class="text-center" style="width: 4%;">POST</th>
            <th class="text-center" style="width: 4%;">1</th>
            <th class="text-center" style="width: 4%;">2</th>
            <th class="text-center" style="width: 4%;">3</th>
        </tr>
    </thead>
    <tbody>
        {% set i = 0 %}
        {% for  elt in courses %}
            <tr>
                <td class="text-right">{{loop.index }}</td>
                <td>{{elt.scheduled_course.start_date.strftime("%d/%m/%Y") }} - {{elt.scheduled_course.end_date.strftime("%d/%m/%Y")}}</td>
                <td>{{elt.course.name}}</td>
                <td class="text-right">{{ elt.tests[0].score if elt.tests[0] else ' ' }}</td>
                <td class="text-right">{{ elt.tests[1].score if elt.tests[1] else ' ' }}</td>
                <td class="text-right">{{ elt.tests[2].score if elt.tests[2] else ' ' }}</td>
                <td class="text-right">{{ elt.tests[3].score if elt.tests[3] else ' ' }}</td>
                <td class="text-right">{{ elt.tests[3].score if elt.tests[4] else ' ' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<h4>INFORMATIONS SUR LES PRESTATIONS</h4>
<small>{{date}}</small>
<table  class="mtable2" style="width: 100%;">
    <thead>
        <tr class="ptitle">
            <th>No</th>
            <th class="text-center" >PERIODE</th>
            <th class="text-center" style="width: 5%;">JRS PREVUS</th>
            <th class="text-center" style="width: 5%;">JRS PRESTES</th>
            <th class="text-center" style="width: 5%;">JRS FERIES</th>
            <th class="text-center" style="width: 5%;">JRS CONGE</th>
            <th class="text-center" style="width: 5%;">ABSENCE JUTIFIE</th>
            <th class="text-center" style="width: 5%;">JRS MALADIE</th>
            <th class="text-center" style="width: 10%;">PRIME PTF</th>
            <th class="text-center" style="width: 10%;">PRIME LOCALE</th>
            <th class="text-center" style="width: 10%;">PRIME DE RISQUE</th>
            <th class="text-center" style="width: 10%;">SALAIRE</th>
            <th class="text-center">TOTAL PRIMES & SALAIRE</th>
        </tr>
    </thead>
    <tbody>
       
        {% for  elt in person_timesheet %}
            <tr>
                <td class="text-right">{{loop.index }}</td>
                <td class="text-right">{{elt.mois_annee.strftime("%m/%Y")}} </td>
                <td class="text-right">{{elt.jours_prevus}}</td>
                <td class="text-right">{{elt.jours_prestes}}</td>
                <td class="text-right">{{elt.jours_ferie}}</td>
                <td class="text-right">{{elt.jours_conge}}</td>
                <td class="text-right">{{elt.jours_abs_justif}}</td>
                <td class="text-right">{{elt.jours_maladie}}</td>
                <td class="text-right">{{
                    "{:,}".format(
                        (elt.prime_ptf | replace('currency|1=', '') )| int
                    )
                    }}  <small>CDF</small>
                </td>
                <td class="text-right">{{
                    "{:,}".format(
                        (elt.prime_locale | replace('currency|1=', '') )| int
                    )
                }} <small>CDF</small>
                </td>
                <td class="text-right">{{
                    "{:,}".format(
                        (elt.prime_risque | replace('currency|1=', '') )| int
                    )
                }} <small>CDF</small>
                </td>
                <td class="text-right">{{
                    "{:,}".format(
                        (elt.salaire_recu | replace('currency|1=', '') )| int
                    )
                    }} <small>CDF</small>
                </td>
                <td class="text-right">
                    <b>
                        {{
                            "{:,}".format(
                                (
                                    (elt.prime_ptf | replace('currency|1=', '') | int)  +
                                    (elt.prime_locale | replace('currency|1=', '') | int) +
                                    (elt.prime_risque | replace('currency|1=', '') | int ) +
                                    (elt.salaire_recu | replace('currency|1=', '') | int )
                                )
                            )
                        }} <small>CDF</small>
                    </b>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<table class="mtable" style="width: 100%;font-weight: 400;">
    <tbody>
        <tr>
            <td class="text-center" style="width: 35%;">Nom, Post-nom, Prenon du Responsable de l'Etablissement de services de soins et de sante</td>
            <td class="text-center" rowspan="3">Sceau de l'Etablissement</td>
            <td class="text-center"  style="width: 35%;" >Signature de l'Agent</td>
        </tr>
        <tr>
            <td>
                <br>
                <br>
                <br>
                <br>
               
                Date:
               
            </td>
            <td>
                <h5 style="margin: 0px;">{{person.firstname}}  {{person.surname}} {{person.othername}}</h5>
               
                <br>
                <br>
                <br>
                Date:
               
            </td>
        </tr>
         
    </tbody>
</table>

<style>
    .text-right{
        text-align: right;
    }
  .text-center {
    text-align: center;
    
  }
   @page {
        size: A4;
        
    }

    @page {
        size: A4 landscape;
    }

    
    @page {
        margin: 10mm;
        size: 11in 14in;
    }
    body{
        font-family: "Roboto", sans-serif;
        
    }
    .mvalue{
        font-weight: 600;
       
    }
    .margin-0{
        margin: 0px;
    }
    
    .mtable,
    td {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding:  2px  8px;
        font-size: 14px;
        color: #222;
    }
    .mtable2, th ,  td {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding:  2px  4px;
        font-size: 14px;
        color: #222;
    }

    .mtable th {
        border: 0px solid #ccc;
        border-collapse: collapse;
        padding:  2px  8px;
        font-size: 14px;
        color: #222;
    }
    .mtitle {
        font-weight: bold;
        font-size:medium;
        background-color: #fafafa;
       
    }
    .ptitle th {
        font-size: 10px;
    }
</style>
{% endblock content %}
